@model QuestionsApp.WebUI.ViewModels.SearchViewModel
@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h4>Search results for "@Model.SearchText" are..</h4>
</div>
@if (!Model.Lections.Any())
{
    <div class="alert">No lections to display</div>
}
else
{
    <div class="row">

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Theme")
                </th>
                <th>
                    @Html.DisplayName("Organization")
                </th>
                <th>
                    @Html.DisplayName("Auditory")
                </th>
                <th>
                    @Html.DisplayName("Lector")
                </th>
                <th></th>
            </tr>

            @foreach (var lectionHeader in Model.Lections)
            {
                foreach (var lectionEvent in lectionHeader.LectionEvents)
                {
                    <tr>
                        <td>
                            <a href=@Url.Action("LectionEventPage", "Lection", new {id = lectionEvent.Id})>
                                @Html.DisplayFor(modelItem => lectionHeader.LectionTitle)
                            </a>
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => lectionEvent.Organization)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => lectionEvent.Auditory)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => lectionHeader.UserProfile.FirstName)
                            @Html.DisplayFor(modelItem => lectionHeader.UserProfile.FamilyName)
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
}

