@using System.Diagnostics
@model IEnumerable<QuestionsApp.WebUI.ViewModels.QuestionViewModel>
@foreach (var question in Model)
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    @if (question.UserProfileId != null)
                    {
                        <img src="@Url.Action("LoadFile","Profile", new {id=question.UserProfileId})" class="media-object" style="width: 60px">
                    }
                    else
                    {
                        <img src="../../Content/images/default-avatar.png" class="media-object" style="width: 60px">
                    }

                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        @if (question.UserProfile != null)
                        {
                            @question.UserProfile.FirstName
                            @question.UserProfile.FamilyName

                        }
                        else
                        {
                            @question.AuthorName
                        }
                    </h4>
                    <p>@question.QuestionDescription</p>
                    <label class="checkbox-inline pull-right">
                        @{ Session["Question-Liked"] = Session["Question-Liked"] as Dictionary<int, bool> ?? new Dictionary<int, bool>();

                            if (!((Dictionary<int, bool>) Session["Question-Liked"]).ContainsKey(question.IdForClient))
                            {
                                ((Dictionary<int, bool>)Session["Question-Liked"]).Add(question.IdForClient,false);
                                <input id="like-btn-@question.IdForClient" type="checkbox" data-toggle="toggle" data-on="Liked" data-off="Not Liked" data-size="mini" onchange="if ($(this).prop('checked')) { $.ajax({ url: '@Url.Action("LikesInc", new {id = question.Id})', type: 'POST' }) } ">
                            }
                            else
                            {
                                if (((Dictionary<int, bool>) Session["Question-Liked"])[question.IdForClient])
                                {
                                    <input id="like-btn-@question.IdForClient" type="checkbox" checked data-toggle="toggle" data-on="Liked" data-off="Not Liked" data-size="mini" onchange="if ($(this).prop('checked')) { $.ajax({ url: '@Url.Action("LikesDec", new {id = question.Id})', type: 'POST' }) } ">
                                }
                                else
                                {
                                    <input id="like-btn-@question.IdForClient" type="checkbox" data-toggle="toggle" data-on="Liked" data-off="Not Liked" data-size="mini" onchange="if ($(this).prop('checked')) { $.ajax({ url: '@Url.Action("LikesInc", new {id = question.Id})', type: 'POST' }) } ">
                                    }
                                }
                            var s = ((Dictionary<int, bool>) Session["Question-Liked"]);
                                        Debug.Write(s);
                        }
                        @*<input id="like-btn" type="checkbox" data-toggle="toggle" data-on="Liked" data-off="Not Liked" data-size="mini" onchange="if ($(this).prop('checked')) { $.ajax({ url: '@Url.Action("LikesInc", new {id = question.Id})', type: 'POST' }) } ">*@
                        @question.Likes Likes
                        @*@Ajax.ActionLink(@question.Likes.ToString(), "LikesInc",
                        new { id = question.Id },
                        new AjaxOptions { UpdateTargetId = "questions", OnSuccess = "this.setState({ className: ' disabled' });" },
                        new { @class = /*btn btn-default btn-xs*/" pull-right", @id = "likes" + question.Id })*@
                    </label>
                    @*<a href="#" class="btn btn-default btn-xs pull-right" id = "likes-@question.Id">
                        @question.Likes Likes
                    </a>*@
                </div>
            </div>
        </div>
    </div>
    
}

<script src="../../Scripts/bootstrap-toggle.js"></script>
<link href="../../Content/bootstrap-toggle.less" rel="stylesheet">
@*<script>
  $(function() {
    $('#like-btn').change(function() {
      if ($(this).prop('checked')) {
        
      }  
    })
  })
</script>*@