@model QuestionsApp.WebUI.ViewModels.LectionEventViewModel

@{
    ViewBag.Title = "EditEvent";
}

<h2>EditEvent</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValuserIdationSummary(true, "", new { @class = "text-danger" })
        @Html.HuserIddenFor(model => model.Id)
        @Html.HuserIddenFor(model=>model.LectionHeaderId)

        <div class="form-group">
            @Html.LabelFor(model => model.Organization, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Organization, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValuserIdationMessageFor(model => model.Organization, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Auditory, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Auditory, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValuserIdationMessageFor(model => model.Auditory, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.LectionStatusId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.LectionStatusId, new SelectList(Model.AllLectionStatuses,"Id","StatusName"), new { @class = "form-control" })
                @Html.ValuserIdationMessageFor(model => model.LectionStatusId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Lections")
</div>
